a {
	color: #9999FF;
	font-family: Conga, Arial;
}

body {
	background-color: #000033;
	color: #9999FF;
	font-family: Conga, Arial;
	font-size: 10px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

h4 {
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}

hr {
	color: #9999FF;
}

td {
	font-family: Conga, Arial;
	font-size: 10px;
}

input {
	font-family: Conga, Arial;
	font-size: 10px;
}

select {
	font-family: Conga, Arial;
	font-size: 10px;
}

.invert {
	background-color: #9999FF;
	color: #000033;
	font-family: Conga, Arial;
	font-size: 10px;
}

tr.invert {
	background-color: #9999FF;
	color: #000033;
	font-family: Conga, Arial;
	font-size: 10px;
}
